
/*full page background, no scroll bars*/
html { 
  background: url(../images/starwarsbg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*body {
	font-family: starwars;
}*/

.selected {
	background-color: red;
    float: left;
    padding: 19px;
    border-radius: 29px;
    margin: 36px;
    text-align: center;
}

#bottom {
	clear: left;
}

#defenderDiv{
	clear: left;
}


.imgHolder {
    float: left;
    padding: 38px;
    background-color: #0089ff;
    border-radius: 29px;
    margin: 36px;
    text-align: center;
}

.character{
	height: 300px;
}

h2 span.spacer {
   padding:0 5px;
   font-size: 16px;
}

/*@font-face {
    font-family: starwars;
    src: url(../font/Star_Jedi_Rounded.ttf);
}*/

.charName, .charHP {
	font-size: 50px;
}

.title {
	font-size: 100px;
    color: #ffffff;
    clear: left;
    padding: 14px;
    padding-left: 56px;
}

#attackButton{
	height: 60px;
    width: 400px;
    font-size: 47px;
    margin-bottom: 17px;
}